*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		font-family: 'Arial', sans-serif;
}


body{
		background-color: #f5f5f5;
}



.modal-register{

	display: none;
	background-color: blanchedalmond;




}



.warning-msg{
	color: red;
	margin-bottom: 10px;
	font-size: 10px;



}



.modal-register {
	display: flex;
	background: rgba(0, 0, 0, 0.5);

}

/* Style for the registration form */
#register {
	/*display: flex;*/
	background: #fff;
	padding: 20px;
	/*border-radius: 10px;*/
	max-width: 100%;
	width: 100%;
}

/* Style for the form headings */
#register h1 {

	text-align: center;
	color: #333;
}

/* Style for form labels */
#register label {
		margin-top: 5px;
	display: block;
	margin-bottom: 8px;
	color: #555;
}

/* Style for form inputs */
#register input {
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Style for the Register And Login button */
#registerBtn {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

#registerBtn:hover {
	background-color: #45a049;
}










/*LOGIN=======================================================*/


.modal-login {
	display: block;
	background: rgba(0, 0, 0, 0.5);

}

/* Style for the registration form */
#login {
	/*display: flex;*/
	background: #fff;
	padding: 20px;
	/*border-radius: 10px;*/
	max-width: 100%;
	width: 100%;
}

/* Style for the form headings */
#login h1 {

	text-align: center;
	color: #333;
}

/* Style for form labels */
#login label {
	margin-top: 5px;
	display: block;
	margin-bottom: 8px;
	color: #555;
}

/* Style for form inputs */
#login input {
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Style for the Register And Login button */
#loginBtn {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

#loginBtn:hover {
	background-color: #45a049;
}





























#userDashboardManagement{

	font-family: 'Arial', sans-serif;
		background-color: #f5f5f5;
		margin: 0;
		
		display: flex;
		align-items: center;
		justify-content: center;

}

table,
th,
td, tbody #usersTable{
	border: 1px solid rgb(230, 230, 230);

}

#usersTable {

	border-collapse: collapse;
	width: 80%;
	margin: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border-radius: 10px;
}

#usersTable thead th {
	background-color: #3498db;
	color: #fff;
	text-align: left;
	padding: 15px;
	font-size: 16px;
}

#usersTable tbody td {
	background-color: #fff;
	color: #333;
	padding: 15px;
	font-size: 14px;
	border-bottom: 1px solid #ecf0f1;
}

#usersTable tbody td:last-child {
	border-bottom: none;
}

#usersTable tbody tr:hover {
	background-color: #f5f5f5;
	transition: background-color 0.3s;
}



